body {
	padding: 0;
	margin: 0;

}

div{
	margin-top: 10px;
	margin-bottom: 10px;
}

#content{
	margin: auto;
	width: 100%;
}

#itemtable,#pagetable{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #98bf21;
}

#itemtable th,#pagetable th{
	background-color:#A7C942;
	/*background-color:#FFFF66;*/
  	color:#ffffff;
  	font-size: 1.1em;
  	padding-top:5px;
  	padding-bottom:4px;
	border: 1px solid #98bf21;
}

#itemtable td{
	width: 14%;
	border: 1px solid #98bf21;
}


#pagetable td{
	width: 50%;
	border: 1px solid #98bf21;
}

